@model string
@{
    ViewData["Title"] = "Create Role";
}

<h1 class=" text-center">Create a Role</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="CreateRole" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <div class="row">
        <a asp-action="Roles" class="btn btn-info">Back</a>
        <button type="submit" class="btn btn-success">Create</button>
    </div>  
</form>